프로그래밍3

201984051 신동진

* 대륙을 기준으로 각 대륙마다 평균 출산율을 보고싶어 전세계 출산율 데이터를 수렴하였습니다.
  현재 우리나라의 출산율이 심각한 수준으로 다가왔고 점점 고령화되는 시대에 노인의 비율이 높아지고 있습니다.
  여기서 과연 대한민국 외에 다른 나라도 우리처럼 출산을 지향하고 있는지 궁금해서 비교 데이터를 만들어 한눈에 보기 쉽게
  전세계의 출산율을 알아보고자 합니다.

In [1]:
import pandas as pd
import numpy as np

출산율 데이터를 불러옵니다

In [17]:
birth = pd.read_csv('birth.csv',encoding='euc-kr')   
birth

        대륙       국가   2014   2015   2016   2017   2018
0      아시아       한국  1.205  1.239  1.172  1.052  0.977
1      아시아   아제르바이잔  1.970  1.940  1.900  1.750  1.730
2      아시아      바레인  2.078  2.056  2.033  2.010  1.987
3      아시아       중국  1.656  1.665  1.675  1.683  1.690
4      아시아     키프로스  1.364  1.354  1.345  1.337  1.329
..     ...      ...    ...    ...    ...    ...    ...
120   아프리카      잠비아  5.026  4.918  4.814  4.718  4.633
121  오세아니아  오스트레일리아  1.826  1.814  1.752  1.741  1.740
122  오세아니아       피지  2.795  2.800  2.797  2.788  2.774
123  오세아니아     뉴질랜드  1.920  1.990  1.870  1.810  1.710
124  오세아니아   파푸아뉴기니  3.758  3.707  3.657  3.610  3.564

[125 rows x 7 columns]

출생율 데이터를 보니 한국은 역시 매년마다 출산율이 줄어드는것을 확인할 수 있었습니다...
2018년도 부터 평균 1명도 낳지 않다니... 큰일입니다.

In [18]:
birth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대륙      125 non-null    object
 1   국가      125 non-null    object
 2   2014    125 non-null    float64
 3   2015    125 non-null    float64
 4   2016    125 non-null    float64
 5   2017    125 non-null    float64
 6   2018    125 non-null    float64
dtypes: float64(5), object(2)
memory usage: 7.0+ KB

제가 탐색 및 분석하고자하는 birth의 정보를 확인하였습니다.
대륙과 국가는 글자타입이기에 오브젝트이고 2014~2018은 숫자 형식이기에 float64로 나왔습니다.

In [29]:
birth.columns

Index(['대륙', '국가', '2014(출산율)', '2015(출산율)', '2016(출산율)', '2017(출산율)',
       '2018(출산율)'],
      dtype='object')

총 7개의 컬럼을 가지고 있습니다.

In [31]:
birth.shape

(125, 7)

birth데이터는 125개의 row 7개의 columns을 가지고 있습니다.

In [32]:
birth.size

875

birth는 총 875개의 데이터를 가지고 있습니다.

In [34]:
birth.isnull().sum()

대륙           0
국가           0
2014(출산율)    0
2015(출산율)    0
2016(출산율)    0
2017(출산율)    0
2018(출산율)    0
dtype: int64

birth 데이터의 결측치는 없습니다.

In [19]:
birth.describe().T

      count      mean       std    min    25%    50%    75%    max
2014  125.0  2.419968  1.115656  1.205  1.630  2.001  2.894  5.864
2015  125.0  2.400072  1.089740  1.196  1.650  2.014  2.805  5.774
2016  125.0  2.378240  1.063559  1.172  1.656  2.009  2.797  5.686
2017  125.0  2.343400  1.048218  1.052  1.620  1.999  2.777  5.600
2018  125.0  2.318168  1.033355  0.977  1.600  1.987  2.761  5.519

describe().T 를 이용해 수치형 데이터의 기술 통계를 구해보니 우리나라 뿐만아니라 전세계적으로 내년 출산율이 줄어드는것을
확인했습니다.
한국이 최소값들을 모두 차지하고 있습니다. 심각합니다. 최대 출산율과 어마어마한 차이가 있습니다.
*추가로 이 값만보면 2014~2018년의 어떤 데이터의 값을 뽑은건지 모르기 때문에 이름을 바꿔봤습니다.

In [20]:
birth.rename(columns={'2014':'2014(출산율)','2015':'2015(출산율)','2016':'2016(출산율)','2017':'2017(출산율)','2018':'2018(출산율)'},inplace=True)

In [21]:
birth.describe().T

           count      mean       std    min    25%    50%    75%    max
2014(출산율)  125.0  2.419968  1.115656  1.205  1.630  2.001  2.894  5.864
2015(출산율)  125.0  2.400072  1.089740  1.196  1.650  2.014  2.805  5.774
2016(출산율)  125.0  2.378240  1.063559  1.172  1.656  2.009  2.797  5.686
2017(출산율)  125.0  2.343400  1.048218  1.052  1.620  1.999  2.777  5.600
2018(출산율)  125.0  2.318168  1.033355  0.977  1.600  1.987  2.761  5.519

바꿔보니 보기 좀더 좋아졌습니다.

In [26]:
birth.set_index(['국가'])

            대륙  2014(출산율)  2015(출산율)  2016(출산율)  2017(출산율)  2018(출산율)
국가
한국         아시아      1.205      1.239      1.172      1.052      0.977
아제르바이잔     아시아      1.970      1.940      1.900      1.750      1.730
바레인        아시아      2.078      2.056      2.033      2.010      1.987
중국         아시아      1.656      1.665      1.675      1.683      1.690
키프로스       아시아      1.364      1.354      1.345      1.337      1.329
...        ...        ...        ...        ...        ...        ...
잠비아       아프리카      5.026      4.918      4.814      4.718      4.633
오스트레일리아  오세아니아      1.826      1.814      1.752      1.741      1.740
피지       오세아니아      2.795      2.800      2.797      2.788      2.774
뉴질랜드     오세아니아      1.920      1.990      1.870      1.810      1.710
파푸아뉴기니   오세아니아      3.758      3.707      3.657      3.610      3.564

[125 rows x 6 columns]

국가별 기준으로 하는 방법도 있길래 해봤습니다.

In [27]:
birth.value_counts()

대륙     국가     2014(출산율)  2015(출산율)  2016(출산율)  2017(출산율)  2018(출산율)
유럽     헝가리    1.440      1.450      1.530      1.540      1.550        1
아시아    인도네시아  2.413      2.389      2.362      2.336      2.311        1
       스리랑카   2.216      2.213      2.211      2.206      2.199        1
       시리아    3.005      2.940      2.889      2.847      2.808        1
       싱가포르   1.250      1.240      1.200      1.160      1.140        1
                                                                      ..
오세아니아  피지     2.795      2.800      2.797      2.788      2.774        1
유럽     그리스    1.300      1.330      1.380      1.350      1.350        1
       네덜란드   1.710      1.660      1.660      1.620      1.590        1
       노르웨이   1.750      1.720      1.710      1.620      1.560        1
남아메리카  과테말라   3.088      3.029      2.973      2.920      2.870        1
Length: 125, dtype: int64

이후에 시각화 하고 결론 도출하는건 더 준비하겠습니다.
감사합니다.